<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 leftRow">
            <h1>Register Form</h1>
        </div>
        <div class="col-md-6">
  <form class="registerForm" (submit)="sendData($event)">
      <div class="form-group">
          <label for="name">Name</label>
          <input name="username" type="text" [(ngModel)]="user.username" class="form-control" id="name" placeholder="Enter name" >
        </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" [(ngModel)]="user.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Password" >
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success butt">Register</button>
      </div>
  </form>
</div>
</div></div>
